header {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	width: 100%;
	height: 100px;
	padding: 0 5% 20px;
	border-bottom: 1px solid #d1d1d1;
	background: $bg-header;
	box-sizing: border-box;
	-webkit-box-shadow: $shadow-header;
	-moz-box-shadow: $shadow-header;
	box-shadow: $shadow-header;
	
	.events_controls {
		display: flex;
		
		a {
			display: block;
			width: 80px;
			height: 26px;
			background: $bg-header-buttons;
			color: #fff;
			text-decoration: none;
			text-align: center;
			line-height: 26px;
			margin-right: 10px;
			border-radius: 2px;
			-webkit-box-shadow: $shadow-event-buttons;
			-moz-box-shadow: $shadow-event-buttons;
			box-shadow: $shadow-event-buttons;
			
		}
	}
	.events_search {
		display: flex;
		flex-direction: row;
		a {
			display: block;
			width: 30px;
			height: 26px;
			background: url("../img/icon_event_search.png") no-repeat center center;
		}
		input {
			border: 1px solid $border-color-input;
			border-radius: 3px;
			outline: none;
			-webkit-box-shadow: $shadow-input;
			-moz-box-shadow: $shadow-input;
			box-shadow: $shadow-input;
		}
	}
	#new_event {
		position: absolute;
		display: none;
		flex-direction: column;
		justify-content: center;
		top: 90px;
		left: calc(4.5% - 20px);
		width: 250px;
		height: 100px;
		background: $bg-modal-event;
		padding: 10px 20px;
		border: 1px solid $border-color-modal-event;
		-webkit-box-shadow: $shadow-modal-new-event;
		-moz-box-shadow: $shadow-modal-new-event;
		box-shadow: $shadow-modal-new-event;
		z-index: 4;
		box-sizing: border-box;
		
		&::before {
			content: '';
			position: absolute;
			top: -11px;
			left: 50px;
			width: 0;
			height: 0;
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 11px solid $bg-modal-event;
			z-index: 4;
		}
		&::after {
			content: '';
			position: absolute;
			top: -13px;
			left: 47px;
			width: 0;
			height: 0;
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-bottom: 13px solid $border-color-modal-event;
			z-index: 3;
		}
		.new_event_text {
			width: 200px;
			outline: none;
			&::placeholder {
				color:#ccc;
				font-size: 14px;
			}
		}
		.new_event_save {
			width: 85px;
			margin-top: 10px;
			font-size: 14px;
		}
		.close {
			display: block;
			position: absolute;
			top: 5px;
			right: 10px;
			background: $bg-modal-close;
			height: 10px;
			width: 2px;
			transform: rotate(45deg);
		}
		.close::after {
			background: $bg-modal-close;
			content: '';
			height: 2px;
			left: -4px;
			position: absolute;
			top: 4px;
			width: 10px;
		}
		&.show {
			display: flex;
		}
	}
}
